.main {
    padding: 5% 5%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.graph {
    display: flex;
    width: 75%;
}

.panel {
    display: flex;
    justify-content: center;
    width: 25%;
    background-color: rgb(228, 228, 228);
    border-radius: 4% ;
}
.panel-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    width: 100%;
    border-radius: 4%;
    background-color: rgb(244, 244, 244);
}

.period {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.select {
    margin: 5%;
    position: relative;
    width: 90%;
}

.select__input {
    padding: 16px 16px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
    width: 100%;
    user-select: none;
    color: black;
}
.select__input::placeholder {
    color: grey;
}
.chevron__transform{
    transform: rotate(180deg);
}
.select__chevron {
    position: absolute;
    top: 15px;
    left: 85%;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.select__dropdown {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
}

.select__item {
    padding: 12px 16px;
    cursor: pointer;
    border-bottom: 1px solid grey;
}
.select__item:last-child{
    border-bottom: none;
}
.select__item:hover{
    font-weight: bold;
}
.expanded {
    display: block;
}

.commit-btn {
    width: 90%;
    margin: 5%;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid black;
}
.commit-btn:hover{
    background-color: #f5f5f5;
    cursor: pointer;
    border: 2px solid black;
}
.commit-btn:active{
    background-color: rgba(255, 166, 0, 0.162);
    border: 1px solid black;
}