<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/aesc_styles.css">
</head>
<body>
    <div style="display: flex; height: 100vh;">
        <div class="graphs">
            <div class="graph">
                <canvas id="myChart1" class="chart1"></canvas>
            </div>
            <div class="graph">
                <canvas id="myChart2"></canvas>
              </div>
            <div class="graph">
                <canvas id="myChart3"></canvas>
            </div>
        </div>
        <div class="stats">
            <div class="params">
                <div class="param">
                    <p class="units">Температура</p>
                    <div class="unit-value"><p>15</p></div>
                </div>
                <div class="param">
                    <p class="units">Температура</p>
                    <div class="unit-value"><p>15</p></div>
                </div>
                <div class="param">
                    <p class="units">Температура</p>
                    <div class="unit-value"><p>15</p></div>
                </div>
                <div class="param">
                    <p class="units">Температура</p>
                    <div class="unit-value"><p>15</p></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../static/scripts/aesc.js"></script>
</body>
</html>