<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='base_styles.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        {% block header %}
        <div class="upper-header">
            <div class="logo">СИСТЕМА МОНИТОРИНГА ВЫБРОСОВ</div>
            <div class="acc-bar">
                Пользователь
                <div id="dropdown" class="dropdown" onclick="myFunction()">
                    <div class="dropdown-button acc-menu">
                        <div class="user" id="username">
                        
                        </div>
                        <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" style="position: relative;cursor: pointer; top: 4px;">
                            <image href="../static/icons/arrow_drop_down.svg" height="20" width="20" style="filter: brightness(0);">
                        </svg>
                        <div id="dropdown-contentlist" class="dropdown-content">
                            <a id="logout_btn" onclick="logout()">Выйти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lower-header" id="lower-header">
            
        </div>
        {% endblock %}
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% block footer %}
        {% endblock %}
      </footer>
      
    <script src="{{ url_for('static', path='scripts/base.js') }}"></script>
</body>
</html>