{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', path='aesc_styles.css') }}">
{% endblock %}

{% block content %}
    <div style="display: flex; height: 89vh;">
        <div class="graphs">
            <div class="dropdown">
                <select id="sensor-select" class="dropdown-select hidden">
                    <option value="" disabled>Выберите датчик</option>
                </select>
            </div>
            <div class="graph hidden" id="graph">
                <canvas id="myChart1" class="chart1"></canvas>
            </div>
            <div class="nonContent" id="nonContent">
                Выберите зону!
            </div>
        </div>
        <div class="stats">
            <div class="params">
                <div class="param">
                    <p class="units">Температура</p>
                    <div class="unit-value"><p id="temperature">15</p></div>
                </div>
                <div class="param">
                    <p class="units">Скорость ветра</p>
                    <div class="unit-value"><p id="windpull">15</p ></div>
                </div>
                <div class="param">
                    <p class="units">Влажность</p>
                    <div class="unit-value"><p id="humidity">15</p></div>
                </div>
                <div class="param">
                    <p class="units">Давление</p>
                    <div class="unit-value"><p id="pressure">15</p></div>
                </div>
            </div>
            <div class="time-period-buttons">
                <button id="today-btn" class="period-btn btn">За сегодня</button>
                <button id="week-btn" class="period-btn btn">За неделю</button>
                <button id="month-btn" class="period-btn btn">За месяц</button>
            </div>
        <!-- Custom date range selection -->
            <div class="date-range-selector">
                <div class="date-range-title">Выберите период:</div>
                <div class="date-zone">
                    <div class="date-inputs">
                        <div class="date-input">
                            <label for="start-date">От:</label>
                            <input type="date" id="start-date" class="date-picker">
                        </div>
                        <div class="date-input">
                            <label for="end-date">До:</label>
                            <input type="date" id="end-date" class="date-picker">
                        </div>
                    </div>
                    <button id="apply-date-range" class="apply-btn btn">ОК</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', path='scripts/aesc.js') }}"></script>

{% endblock %}