{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', path='aesc_styles.css') }}">
{% endblock %}

{% block content %}
    <div style="display: flex; height: 89vh;">
        <div class="graphs">
            <div class="dropdown">
                <select id="sensor-select" class="dropdown-select hidden">
                    <option value="" disabled>Выберите датчик</option>
                </select>
            </div>
            <div class="graph hidden" id="graph">
                <canvas id="myChart1" class="chart1"></canvas>
            </div>
            <div class="nonContent" id="nonContent">
                Выберите зону!
            </div>
        </div>
        <div class="stats">
            <div class="params">
                <div class="param">
                    <p class="units">Температура</p>
                    <div class="unit-value"><p id="temperature">15</p></div>
                </div>
                <div class="param">
                    <p class="units">Скорость ветра</p>
                    <div class="unit-value"><p id="windpull">15</p ></div>
                </div>
                <div class="param">
                    <p class="units">Влажность</p>
                    <div class="unit-value"><p id="humidity">15</p></div>
                </div>
                <div class="param">
                    <p class="units">Давление</p>
                    <div class="unit-value"><p id="pressure">15</p></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', path='scripts/aesc.js') }}"></script>

{% endblock %}